:root {
  --max-width: 1240px;
}
body {
  margin: 0px;
}
header,
main,
footer {
  padding-inline: 1.5rem;
}
main {
  overflow-y: auto;
}
footer {
  padding-block: 0.5rem;
}
#root {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "header"
    "main  "
    "footer";
  grid-template-rows: auto 1fr auto;
  height: 100svh;
}
.container {
  max-width: var(--max-width);
  margin-inline: auto;
}
input[type="submit"] {
  width: fit-content;
}
